/* CSS HEX */
:root {
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --sonic-silver: #6c757dff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

/*whole document styling*/

* {
  margin: 0;
  font-family: "Barlow", sans-serif;

}

body {
  width: 100%;
  background-color: var(--cultured);
  text-align: centre;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
html, body {
  height: 100%;
}

p {
  padding: 10px;
}
header {
  width:100%;
}

h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

hr {
  
  margin-bottom: 10px;
}

#main {
  flex: 1 0 auto;
}


/* Flex properties for navbar with links*/

.nav-container {
  display: flex;
  flex-direction: row;
  background-color: var(--onyx);
  justify-content: space-between;
 }

.nav-links-container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  }

.nav-link-item {
  padding-top: 10px;
  border-left: 30px;
  margin-left: 30px;
}
.icon {
  margin-top: 25px;
  padding: 15px;
}

.nav-link {
  color: var(--cultured-2);
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  transition: color 0.2s;
}

a  {
  text-decoration: none;
  color: var(--cultured-2)

}

a:hover {
  color: var(--sonic-silver);
  transition: color 0.2s;
}

/*Main body*/

section {
  text-align:center ;
  font-size: ;
  background-color: lightgrey;
  width: 900px;
  border: 2px solid var(--onyx);
  padding: 50px;
  margin:auto;
  margin-top:100px;
  margin-bottom: 80px;
}

#start-quiz-button {
  background-color: var(--cadet-blue-crayola);
  font-size: 24px;
  color: var(--eerie-black);
  width: 50%;
}





/* Webpage footer */

footer {
  flex-shrink: 0;
    margin-top: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    width:100%;
    background-color: var(--onyx);
    color:var(--cultured-2);
    text-decoration: none;
  }

  .social-icon {

    
  }



/*MEDIA QUERIES */

/*tablets*/
@media screen and (max-width: 768px) {

   
 

 
  
/*phones*/

@media screen and (max-width: 480px) {
  body {
    text-align: center;
  }
  
    
  }
  
  /*nav bar header*/
  .nav-links-container {
    display: flex;
    flex-direction: column;
  }
  
  .nav-link-item {
      margin: 5px;
    }
  


 