/* CSS HEX */
:root {
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --sonic-silver: #6c757dff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

/*whole document styling*/

* {
  margin: 0;
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  background-color: var(--cultured);
  text-align: centre;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 2;
  min-height: 100vh;
}

.main {
  flex: 2;
}

a:hover {
  color: var(--sonic-silver);
  transition: color 0.2s;
}

p {
  padding: 0.6rem;
}
header {
  background-color: var(--onyx);
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

hr {
  margin-bottom: 1rem;
}

/*start of header styles

/* Flex properties for navbar with links and logo*/

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--onyx);
}

.nav-link-icon {
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--cultured-2);
  text-decoration: none;
  transition: color 0.2s;
  font-size: 2rem;
}
/*end of header styles*/

/*Start of <main> styles */

.section {
  text-align: center;
  font-size: 1.8rem;
  background-color: var(--cadet-blue-crayola);
  width: 60%;
  border: 2px solid var(--onyx);
  padding: 3rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-radius: 0.4rem;
}
/*End of main styles>

/* start of button styles */

.section-question-container {
  align-items: center;
  background-color: var(--cadet-blue-crayola);
  width: 60%;
  border: 2px solid var(--onyx);
  padding: 3rem;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 8rem;
  border-radius: 0.4rem;
}

#start-quiz-button {
  background-color: lightgrey;
  font-size: 24px;
  color: var(--eerie-black);
  width: 50%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
  margin-top: 2rem;
  overflow: hidden;
}

#start-quiz-button:hover {
  cursor: pointer;
  background-color: var(--davys-grey);
}

/* end of button styles */

/* Start of webpage footer styles */
.footer {
  background-color: var(--onyx);
  padding: 1rem 0;
  letter-spacing: 0.4m;
}
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--cultured-2);
  padding: 1rem 2rem;
}

.social-icon {
  color: var(--cultured-2);
  transition: color 0.2s;
  text-decoration: none;
  font-size: 30px;
}

.footer-link a {
  font-size: 1.5rem;
  color: var(--cultured-2);
}

/* End of webpage footer styles

/* timer styling*/

.timer-section{

  text-align: center;
  background-color: var(--cadet-blue-crayola);
  width: 30%;
  border: 2px solid var(--onyx);
  padding: 1.5rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: 0.4rem;
  font-size: 2rem; 
}

.timer-span {

  font-size: 4rem; 
}



/*Start of questions section styling*/

.section-question-container {
  align-items: center;
  background-color: var(--cadet-blue-crayola);
  width: 60%;
  border: 2px solid var(--onyx);
  padding: 3rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 8rem;
  border-radius: 0.4rem;
}

.div-answer-list {
  width: 100%;
  text
  text-align: center;
}

.answer-list {
  width: 95%;

  align-items: center;
}

.list-item {
  background-color: lightgrey;
  font-size: 1.6rem;
  color: var(--eerie-black);
  padding: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
  margin: 2rem;
  list-style-type: none;
  width: 90%;
}
.list-item:hover {
  cursor: pointer;
  background-color: var(--sonic-silver);
}

/*End of questions section styling*/

/*Start of results form section styling*/

.results-section {
  background-color: var(--cadet-blue-crayola);
  width: 80%;
  border: 2px solid var(--onyx);
  padding: 3rem;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 8rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  text-align: center;
}

#results-form {
  width: 100%;
  align-items: center;
}

.answer-list {
  width: 95%;
  border: 2px solid var(--onyx);
  align-items: center;
}

#fname {
  background-color: var(--cultured);
  font-size: 1.6rem;
  color: var(--eerie-black);
  padding: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
  margin: 2rem;
  width: 40%;
}

#div-submit-to-high-scores {
  font-size: 1.6rem;
  color: var(--eerie-black);
  border-radius: 0.4rem;
  text-align: center;
  margin: auto;
  list-style-type: none;
  width: 90%;
}

.high-score-button {
  background-color: lightgrey;
  font-size: 24px;
  color: var(--eerie-black);
  width: 90%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
  margin-top: 2rem;
  overflow: hidden;
}

.high-score-button:hover {
  cursor: pointer;
  background-color: var(--sonic-silver);
}

/*End of results form section styling*/

/*MEDIA QUERIES */

/*tablets*/
@media screen and (max-width: 768px) {
  .main {
    margin: 0 1.5rem;
  }

  .section {
    width: 90%;
  }

  .section-question-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 90%;
  }
  .results-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
  }
}

/*phones*/

@media screen and (max-width: 480px) {
  .main {
    margin: 0 1rem;
  }

  .section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-question-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 95%;
  }

  .results-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 95%;
  }
}
